// Mixins in here
.btn-border(@bordered: none, @edge) {
    border: @bordered;
    border-radius: @edge;
}

.center(@justify: center; @align: center; @txt-position: center) {
    justify-content: @justify;
    align-content: @align;
    text-align: @txt-position;
}

// .font-size(@size)